<div class="p-6 space-y-8">
  @if (film(); as f) {
    <h1 class="text-3xl font-bold">{{ f.title }}</h1>
    <p class="text-gray-500">Episode {{ f.episode_id }} | {{ f.release_date }}</p>
    <p class="mt-4">{{ f.opening_crawl }}</p>

     @for (section of sections; track section.title) {
      <section>
        <h2 class="text-2xl font-semibold mb-2">{{ section.title }}</h2>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
          @for (item of section.data(); track item.url) {
            <div
              class="p-3 bg-gray-100 rounded"
              [class.cursor-pointer]="section.clickable"
              (click)="section.clickable && goToDetail(section.type, item)"
            >
              {{ item.name || item.title }}
            </div>
          }
        </div>
      </section>
    }
  }
</div>

<router-outlet></router-outlet>